p {

/*Content - width and height*/
width: 200px; /*largura, voce pode usar porcentagem 50% ex*/

/*border*/
	border: 2px solid blue;


/*padding*/
/*padding: 10px;*/
padding-left: 20px;

/*margin*/
/*margin: 100px;*/
/*margin-top:500px;*/
/*margin: 20px 40px 200px 100px;*/
/*margin: 0 auto 0 auto;*/
margin: 0 auto;

}