body {
	background: orange;
}
li {
	border: 2px solid red;
.cores {
	background: green;
}
.completed {
	text-decoration: line-through;
}

}
div {
	background: purple;
	
	.special {
		background: white;
	}
}